<div id="faq" class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4 mb-5 pt-5 text-center">FAQ</h1>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-5 offset-1">
        <h4 class="">A Very LongLongLongLongLongLong Question</h4>
        <p>Answer</p>
      </div>
      <div class="col-xs-12 col-md-5 offset-1">
        <h4 class="">A Very LongLongLongLongLongLong Question</h4>
        <p>Answer</p>
      </div>
      <div class="col-xs-12 col-md-5 offset-1">
        <h4 class="">A Very LongLongLongLongLongLong Question</h4>
        <p>Answer</p>
      </div>
    </div>
    <footer class="footer">
      <div id="footer" class="row mb-0">
        <div class="col-xs-12 col-md-6 offset-3">
          <h4 class="text-center text-uppercase mt-5">Other questions?</h4>
          <p class="text-center">If you have any more questions or concerns feel free to
          email us at <a href="mailto:illinidata@gmail.com">illinidata@gmail.com</a>. You can also check
           out our <a target="_blank" href="https://www.facebook.com/illinistatisticsclub/">Facebook</a> page.</p>
        </div>
      </div>
    </footer>
  </div>
</div>