<div id="faq" class="jumbotron jumbotron-fluid">
  <h1 id="faq-title" class="display-4 mb-2 pt-5">FAQ</h1>
  <div class="container box">
    <div class="row justify-content-center pt-2">
      <div class="col-xs-12 col-md-6" *ngFor="let item of faqs">
        <h4 class="question"> {{ item.question }} </h4>
        <p class="answer"> {{item.answer}} </p>
      </div>
    </div>
    <div class="container justify-content-center">
      <div id="footer" class="row mb-0">
        <div class="col-xs-12 col-md-6 offset-md-3">
          <h4 class="text-center text-uppercase mt-5">Other questions?</h4>
          <p class="text-center">If you have any more questions or concerns feel free to
          email us at <a href="mailto:illinidata@gmail.com">illinidata@gmail.com</a>. You can also check
           out our <a target="_blank" href="https://www.facebook.com/illinistatisticsclub/">Facebook</a> page.</p>
        </div>
      </div>
    </div>
  </div>
</div>