<nav class="navbar navbar-expand-lg navbar-custom fixed-top text-center">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block">
      <!-- hidden spacer to center brand on mobile --></span>
    <!-- <a class="navbar-brand d-inline-block align-middle" href="#intro" >
      Home
    </a> -->
    <a class="navbar-brand-two mx-auto d-none d-lg-inline-block" href="#intro" >
      <img id="desktop-logo" src="assets/logos/Logo.png" alt="logo">
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-home">
        <img id="mobile-logo" src="assets/logos/Logo.png" alt="logo">
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbar-home">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item" [ngClass]="{'active':activeComponent==='About'}">
        <a href="#about" class="nav-link m-2 menu-item">About</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':activeComponent==='Faq'}">
        <a href="#faq" class="nav-link m-2 menu-item">FAQ</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':activeComponent==='Schedule'}">
        <a href="#schedule" class="nav-link m-2 menu-item">Schedule</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':activeComponent==='Sponsor'}">
        <a href="#sponsor" class="nav-link m-2 menu-item">Sponsor</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':activeComponent==='Workshop'}">
        <a href="#workshop" class="nav-link m-2 menu-item">Workshop</a>
      </li>
    </ul>
  </div>
</nav>