
@media screen and (min-width: 992px) {
  p {
    font-size: 2em;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  p {
    font-size: 1.5em;
  }
}

#intro {
  background: url("/assets/home-bg-lg.png");
  background-size: cover;
  
  display: flex;

  #desc1 {
    top: 75%;
    font-family: 'PT Mono', monospace;
  }

  #desc2 {
    bottom: 1em;
    left: 50%;
  }

  img {
    top: 65%;
    width: 100%;
    height: 100%;
  }
}