<div id="intro" class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img [src]="logoPath" alt="title" class="p-3">
      </div>
    </div>
    <div class="row justify-content-center">
      <p id="desc1" class="lead text-center text-uppercase">{{ description }}</p>
    </div>
    <div class="row justify-content-center pb-2">
      <a href="https://goo.gl/forms/BvDWpjaVcmx9wt9A2" target="_blank">
        <p id="desc2" class="d-none d-sm-block lead text-center align-bottom">{{ appDescription }}</p>
        <p id="desc2" class="d-block d-sm-none font-weight-light text-center align-bottom" style="font-size: 65%; ">{{ appDescription }}</p>
      </a>
    </div>
  </div>
</div>