<div id="intro" class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row justify-content-center align-top">
      <div class="col-8">
        <img [src]="logoPath" alt="title">
      </div>
    </div>
    <div class="row justify-content-center">
      <p>Feb 15-17th 2019 </p> 
    </div>
    <div id="desc1" class="row justify-content-center">
      <p class="lead text-center text-uppercase">{{ description }}</p>
    </div>
    <div class="row justify-content-center pb-2">
      <a href="https://goo.gl/forms/BvDWpjaVcmx9wt9A2" target="_blank">
        <p id="desc2" class="lead text-center">{{ appDescription }}</p>
        <!-- <p id="desc2" class="d-none d-sm-block lead text-center align-bottom">{{ appDescription }}</p> -->
        <!-- <p id="desc2" class="d-block d-sm-none font-weight-light text-center align-bottom" style="font-size: 65%; ">{{ appDescription }}</p> -->
      </a>
    </div>
  </div>
</div>